.autolayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 0px;
    gap: 171px;
    position: absolute;
    height: 90px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #ee5142;
}
.logo {
    margin: 0 auto;
    width: 160px;
    height: 50px;
}
.geminine {
    position: absolute;
    left: 5%;
    right: 0;
    top: 50%;
    bottom: 7.31%;
}
.menu {
    display: flex;
    align-items: center;
    position: absolute;
    left: 30%;
    bottom: 7.31%;
    gap: 100px;
}

.menu a {
width: 72px;
height: 32px;
font-family: ;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */
/* serious white */
color: #FFFFFF;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

